<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADONET.Properties.Settings.RestorantConnectionString" connectionString="Data Source=192.168.10.20;Initial Catalog=Restorant;User ID=sa;Password=Aa12345678" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
